const path = require('path');
// 主京东脚本运行目录，带有cookie配置文件的目录，默认faker2 
// PS: "./"指当前目录  './faker2'指当前目录下的faker2目录
const mainDir = path.resolve('./faker2');

// 日志输出目录
const logspath = path.resolve('./cron_logs');

// 额外的定时任务，按照对象格式添加
const extendData = {
  'jd_try_xh.js' : '5 8 * * *',
}

module.exports = {
  mainDir,
  logspath,
  extendData,
};